#usefulInformation {
    h2 {
        text-align: center;
        font-size: 42px;
    } 
    #sideNavigationBar {
        background-color: #01b5dd;
        padding-top: 20px;
        padding-bottom: 10px;
        ul {
            list-style: none;
            padding-left: 0px;
            font-size: 14px;
            li {
                margin-bottom: 10px;
            }
        }
    }
    #textCol {
        font-size: 14px;
        text-align: justify;
    }
}