#login {
  margin-top: 50px;
  .card {
    border: 0px;
    .card-title {
      margin-bottom: 20px;
    }
    .card-body {
      padding: 0px;
    }
  }
  h2 {
    margin-bottom: 15px;
  }
  .row {
    margin-bottom: 50px;
  }
  #pwdWrapper {
    text-align: right;
    margin-bottom: 16px;
  }
  #forgottenPwd {
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
  .col-md-6 {
    margin-left: auto;
    margin-right: auto;
  }
  button {
    display: block;
    background-color: #a8acad;
    border-color: #a8acad;
    border-radius: 0%;
  }
  h3 {
    margin-bottom: 12px;
  }
  
  // #bottomWrapper {
  //   border: 0.5px solid #a8acad;
  //   padding: 15px;
  //   #phoneWrapper {
  //     width: 100%;
  //     text-align: center;
  //     #phone {
  //       color: #a8acad;
  //     }
  //   }
  // }
}
