#productsPageContainer {
    #firstRow {
        .form-group {
            width: 15%;
            float: right;
        }
        select {
            font-size: 14px;
        }
    }
    #filters {
        background-clip: content-box;
        background-color: lightgray;
        #filtersList {
            list-style: none;
            margin-top: 20px;
        }
    }
    .card {
        margin-top: 20px;
    }
    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}