#aboutUsPanel {
  margin-bottom: 20px;
  #moreBtn {
    display: inline;
    background-color: #a8acad;
    border-color: #a8acad;
    font-size: 18px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  #firstCol {
    padding-right: 0px;
    #aboutUsImages {
      width: 100%;
      height: auto;
    }
  }
  #secondCol {
    background-color: #11406d;
    color: white;
    background-clip: content-box;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 404px;
    #text {
      position: static;
      margin-left: 2.5%;
      margin-right: 2.5%;
      margin-top: 20px;
      margin-bottom: 30px;
      h3 {
        font-size: 45px;
      }
      p {
        font-size: 18px;
        text-align: justify;
      }
      ul {
        list-style: none;
        font-size: 18px;
        padding-left: 0px;
      }
    }
    #secondRow {
      margin-left: 0%;
      margin-right: 0%;
      position: absolute;
      bottom: 5%;
      #buttonsCol {
        .svg-inline--fa {
          vertical-align: bottom;
          margin-right: 30px;
          font-size: 3em;
          &:hover {
            color: #01b5dd;
          }
        }
      }
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    #secondCol {
      min-height: 320px;
      #text {
        margin-right: 10%;
        margin-left: 10%;
        h3 {
          text-align: center;
        }
      }
      #secondRow {
        margin-left: 10%;
      }
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    #secondCol {
      padding-right: 15px;
      padding-left: 15px;
      #text {
        h3 {
          text-align: center;
        }
      }
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    #secondCol {
      padding-left: 0px;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    #secondCol {
      #text {
        h3 {
          margin-bottom: 20px;
          font-size: 55px;
        }
        p {
          font-size: 20px;
        }
        ul {
          font-size: 20px;
        }
      }
      #secondRow {
        #buttonsCol {
          padding-right: 0px;
          padding-left: 0px;
          .svg-inline--fa {
            font-size: 4em;
          }
        }
      }
    }
    #moreBtn {
      height: 100%;
    }
  }
}
