#aboutUsPanel {
    margin-bottom: 20px; 
    #firstCol {
        padding-right: 0px;
        #aboutUsImage {
            width: 100%;
            height: auto;
        }
    }
    #secondCol {
        padding-left: 0px;
        background-color: #11406D;
        color: white;
        background-clip: content-box;
        #text {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 10%;
            margin-bottom: 10%; 
            h3 {
                font-size: 65px;
                margin-bottom: 5%;
            }
            p {
                font-size: 20px;
                text-align: justify;
            }
            ul {
                list-style: none;
                font-size: 20px;
            }
        }
        .row {
            margin-left: 0px;
            margin-right: 0px;
            text-align: center;
        }

        .svg-inline--fa {

            vertical-align: bottom;
            margin-right: 30px;
            &.fa-w-14 {
            //     width: auto;
            //     height: 38px;
            }
            &.fa-w-16 {
            
            }
            &.fa-w-20 {
                
            }
        }
    }
    #moreBtn {
        height: 100%;
        background-color: #A8ACAD;
        border-color: #A8ACAD;
        font-size: 18px;
        padding-left: 7%;
        padding-right: 7%;
    }
}