#aboutUsPanel {
  #moreBtn {
    height: 100%;
    background-color: #a8acad;
    border-color: #a8acad;
    font-size: 18px;
    padding-left: 7%;
    padding-right: 7%;
  }

  // extra large
  margin-bottom: 20px;
  #firstCol {
    padding-right: 0px;
    #aboutUsImages {
      width: 100%;
      height: auto;
    }
  }
  #secondCol {
    background-color: #11406d;
    color: white;
    background-clip: content-box;
    position: relative;
    #text {
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 3%;
      margin-bottom: 10%;
      h3 {
        font-size: 65px;
        margin-bottom: 5%;
      }
      p {
        font-size: 20px;
        text-align: justify;
      }
      ul {
        list-style: none;
        font-size: 20px;
        padding-left: 0px;
      }
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
      #buttonsCol {
        position: absolute;
        bottom: 17.5%;
        .svg-inline--fa {
          vertical-align: bottom;
          margin-right: 30px;
          font-size: 4em;
          &:hover {
            color: #01b5dd;
          }
        }
      }
    }
  }
  

  // Extra small devices (portrait phones, less than 576px)
  // @media (max-width: 575.98px) {
  //   #secondCol { 
  //     padding-left: 15px;
  //     padding-right: 15px;
  //   }
  // }


  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    padding-left: 0px;
    padding-right: 0px;
    #secondCol {
      #text {
        margin-left: 20px;
        margin-right: 20px;
        h3 {
          font-size: 45px;
        }
        p {
          font-size: 20px;
        }
      }
      .row {
        #buttonsCol {
          .svg-inline--fa {
            font-size: 3em;
          }
        }
      }
    }
  }

  

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    #secondCol {
      #text {
        margin-bottom: 100px;
      }
      .row {
        #buttonsCol {
          bottom: 20px;
        }
      }
    }
  }



}
