#deliveryStrapline {
    .col {
        background-color: #11406D;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    h2 {
        font-size: 14px;
        color: white;
        margin-bottom: 0px;
        svg {
            margin-right: 5px;
        }
    }
}