#newsLetterSignUpBar {
    background-color: #11406D;
    input {
        text-align: center;
    }
    button {
        color: white;
        background-color: #01B5DD;
        border-color: #01B5DD;
    }
    // Medium devices (tablets, less than 992px)
    @media (max-width: 991.98px) { 
        margin-left: 0px;
        margin-right: 0px;
    }
}