#newsLetterSignUpBar {
    background-color: #11406D;
    margin-left: 15px;
    margin-right: 15px;
    input {
        text-align: center;
    }
    button {
        color: white;
        background-color: #01B5DD;
        border-color: #01B5DD;
    }
}