#over25years {
    margin-bottom: 20px;
    .col {
        background-clip: padding-box;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 15px;
        margin-right: 15px;
    }    
    h3 {
        font-size: 65px;
        font-weight: bold;
        color: #11406D;
        line-height: 1;
        span {
            color: #01B5DD;
        }
    }
    p {
        color: #01B5DD;
        font-size: 30px;
        margin-bottom: 0%;
    }
    
    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) { 
        h3 {
            font-size: 45px;
        }
        p {
            font-size: 25px;
        }
        .col {
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    @media (max-width: 991.98px) { 
        p {
            font-size: 25px;
        }
    }



}