#productContainer {
    a {
        color: black;
    }
    p {
        font-size: 14px;
    }
    span {
        font-size: 1rem;
        
        .fa-circle {
            margin-left: 15px;
        }
    }
    .form-control {
        border-radius: 0px;
    }
    .btn {
        width: 100%;
        border-radius: 0px;
        background-color: #01b5dd;
        border-color: #01b5dd;
    }
    #tabsRow {
        font-size: 14px;
        text-align: justify;
    }
    .nav-tabs {
        .nav-link {
            border-radius: 0px;
        }
    }
    .tab-content {
        border-left: 1px solid #dee2e6;;
        border-right: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        padding: 16px;
    }


    #sliderWrapper {
        #sliderMainImage {
            width: 100%;
        }
        #sliderControlImg {
            width: 100%;
        }
    }
}